.article-card {
    text-align: center;
    border: 2px dotted orange;
    align-items: center;
    display: flex;
    font-size: 14px;
}

.article-votes {
    flex-basis: 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.article-card-img {
    width: 18%;
}

.article-card:hover {
    box-shadow: 3px 6px 5px rgba(240, 171, 43, 0.287);
}

.article-card-title,
.single-title {
    width: 90%;
    text-align: left;
    align-items: center;
    display: inline-block;
    margin: 0;
    margin-bottom: 1%;
}

/* .article-author, */
.single-author {
    text-align: left;
    width: 90%;
    font-size: 12px;
    display: inline-block;
    margin: 0;
}

.article-author {
    font-size: 12px;
    font-weight: normal;
}

.article-comment {
    text-align: left;
    width: 90%;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    font-style: italic;
}


.article-date {
    margin: 0;
    font-size: 12px;
    text-align: right;
    display: inline-block;
    width: 90%;
    justify-content: end;
    width: 66vw;
}

.article-body {
    width: 90%;
    text-align: left;
    display: inline-block;
}