#root {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  border: 2px solid lightskyblue;
  margin: 0;
  padding: 1rem 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.nav-wrapper {
  background-color: lightskyblue;
  border-bottom: 2px solid lightskyblue;
  border-left: 2px solid lightskyblue;
  overflow:hidden;
}

li.nav {
  float: left;
  padding: 4px 6px;
  font-weight: bold;
  color: black;
}

li.nav:hover {
  text-decoration: underline white solid 6px;
  text-underline-position: under;
}

img {
  width: 90%;
}

.single-author {
  text-align: left;
  width: 90%;
  font-size: 12px;
  display: inline-block;
  margin: 0;
}

.single-article {
  border: 2px dashed rgb(236, 25, 1);
  display: inline-block;
}

.single-article-link {
  text-decoration: none;
  color: black;
}

.single-comment {
  border: 2px dashed lightcoral;
}

.single-title {
  padding-top: 10px;
  padding-bottom: 6px;
}

.loader {
  margin-top: 1rem;
  border: 2.4px solid rgba(135, 206, 250, 0.165);
  border-top: 2.4px solid lightskyblue;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
  position: relative;
  display: inline-block;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  margin: 0;
  margin-bottom: 1rem;
}

.sort-options {
  margin: 0.5rem 0.5rem;
  justify-content: right;
  display: flex;
}

#order-label, #sort-label {
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
