#root {
  margin: 0 auto;
  padding: 4% 8%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  border: 2px dashed lightskyblue;
}

ul {
  list-style-type: none;
  padding: 0;
}

.article-card{
  text-align: center;
  border: 2px dotted orange;
  align-items: center;
}

.article-card:hover {
  box-shadow: 3px 6px 5px rgba(240, 171, 43, 0.287);
}

img {
  width: 80%;
}

.single-article {
  border: 2px dashed rgb(236, 25, 1);
  display: inline-block;
}

.single-article-link {
  text-decoration: none;
  color: black;
}

/* #single-article-img {
  width: 50%;
} */

.single-comment {
  border: 2px dashed lightcoral;
}

.article-card-title, .single-title {
  width: 80%;
  text-align: left;
  align-items: center;
  display: inline-block;
  margin: 0;
}

.article-author, .single-author {
  text-align: left;
  width: 80%;
  font-size: 12px;
  display: inline-block;
  margin: 0;
}

.article-date {
  margin: 0;
  font-size: 12px;
  text-align: right;
  display: inline-block;
  width: 80%;
}

.article-body {
  width: 80%;
  text-align: left;
  display: inline-block;
}

.single-title {
  padding-top: 10px;
  padding-bottom: 6px;
}