.votes-wrapper-comment {
    margin: 0;
}

.vote-button-comment {
    width: 1rem;
}

.vote-button-comment:hover {
    scale: 1.1;
}

#delete-icon {
    vertical-align: bottom;
}

.delete:hover{
    cursor: pointer;
}

.delete{
    border: 0;
    font-size: 12px;
}

.delete-wrapper {
    display: flex;
    justify-content: end;
}

.comment-body-wrapper {
    text-align: left;
    margin-top: 4px;
}

.votes-comment {
    margin: 0;
}

.single-comment {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

.comment-author {
    margin: 0;
    margin-top: 4px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.comment-body {
    margin-top: 4px;
    margin-bottom: 10px;
}
